In [3]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from astropy.table import Table
import pandas as pd
from astropy.io import ascii
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [13]:
bigstats = ascii.read('data/bigstats_stitchedlcs.fits')
secstats = ascii.read('data/bigstats_by_sector.fits')
mqdata = pd.read_csv('data/mcquillan_sample.csv')
alltics = np.load('data/all_dled_tics.npy')
goodtics = np.load('data/good_cvz_tics.npy')
tictable = ascii.read('data/tic_table.fits')
labels = pd.read_csv('data/Classification_TICS.csv',header=3)

In [12]:
labels

               ## Benchmark Tics for TESS Southern CVZ Unnamed: 1
0    ## Comments: 1== Periodic = "very clear period...        NaN
1    ##                   3== EB = "eclipsing binar...        NaN
2                                                  TIC      CLASS
3                                            140579537          1
4                                            140581031          1
..                                                 ...        ...
221                                          140609648          5
222                                          140630635          5
223                                          140631050          5
224                                          140894354          5
225                                          140690428          5

[226 rows x 2 columns]